<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl animate-fade-right">Conoce el <span class="text-violet-600">
        Impacto </span> de
      Nuestra
      Gestión</h2>

    <p class="mt-4 text-gray-500 sm:text-xl animate-fade-left">
      Trabajamos cada día para mejorar la calidad de vida
      de nuestros vecinos. Aquí podrás encontrar cifras destacadas que reflejan nuestros avances en áreas claves como
      seguridad, educación, salud, y desarrollo urbano. Estas estadísticas son un testimonio del compromiso que tenemos
      con nuestra comunidad.
    </p>
  </div>

  <dl class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4">
    <div
      class="flex flex-col rounded-lg border bg-violet-50 border-violet-100 px-4 py-8 text-center animate-fade-down animate-duration-[500ms]">
      <dt class="order-last text-lg font-medium text-violet-500">Vecinos Beneficiados
      </dt>

      <dd class="text-4xl font-extrabold text-violet-600 md:text-5xl">{{num1 | number}}</dd>
    </div>

    <div
      class="flex flex-col rounded-lg border bg-violet-50 border-violet-100 px-4 py-8 text-center  animate-fade-down animate-duration-[1000ms]">
      <dt class="order-last text-lg font-medium text-violet-500">Mejora Seguridad Ciudadana</dt>

      <dd class="text-4xl font-extrabold text-violet-600 md:text-5xl">{{num2}}%</dd>
    </div>

    <div
      class="flex flex-col rounded-lg border bg-violet-50 border-violet-100 px-4 py-8 text-center  animate-fade-down animate-duration-[1500ms]">
      <dt class="order-last text-lg font-medium text-violet-500">Tasa de Empleo Local</dt>

      <dd class="text-4xl font-extrabold text-violet-600 md:text-5xl">{{num3 | number}}</dd>
    </div>

    <div
      class="flex flex-col rounded-lg bg-violet-50 border border-violet-100 px-4 py-8 text-center  animate-fade-down animate-duration-[2000ms]">
      <dt class="order-last text-lg font-medium text-violet-500">Proyectos Infraestructura Implementada</dt>

      <dd class="text-4xl font-extrabold text-violet-600 md:text-5xl">{{num4 | number}}</dd>
    </div>
  </dl>
</div>
