<section>
  <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
      <div class="mx-auto max-w-lg text-center lg:mx-0 ltr:lg:text-left rtl:lg:text-right">
        <h2 class="text-3xl font-bold sm:text-4xl animate-fade-right">Sectores de la Municipalidad de Curepto</h2>

        <p class="mt-4 text-gray-600 w-full animate-fade-left">
          La Municipalidad de Curepto está compuesta por diversos sectores que trabajan en conjunto para ofrecer un
          servicio integral y de calidad a nuestra comunidad. Cada sector desempeña un papel crucial en el desarrollo y
          bienestar de nuestros vecinos. A continuación, te presentamos los principales sectores que forman parte de
          nuestra gestión.
        </p>

      </div>

      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 animate-fade-up">

        <a *ngFor="let item of MunicipalStaff"
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-violet-200 focus:outline-none focus:ring"
          href="#">
          <div class="hidden sm:block sm:shrink-0">
            <img alt="" [src]="item.photo" class="size-16 rounded-lg object-cover shadow-sm" />
          </div>

          <h2 class="mt-2 font-bold">{{item.name}}</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            {{item.description}}.
          </p>
        </a>


      </div>
    </div>
  </div>
</section>
