<section class="bg-gray-50">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Suscribete al nuevo Newsletter
      </h2>
      <p class="hidden text-gray-500 sm:mt-4 sm:block">
        Al ingresar tu correo electrónico, recibirás un reporte mensual con información detallada sobre nuestras
        medidas, iniciativas y proyectos en curso. Mantente informado sobre las mejoras en tu comunidad, los próximos
        eventos, las oportunidades de participación ciudadana, y mucho más. Únete para estar siempre al tanto de cómo
        seguimos trabajando por el bienestar de todos. </p>
    </div>
    <div class="mx-auto mt-8 max-w-xl">
      <form (ngSubmit)="onSubmit()" class="sm:flex sm:gap-4">
        <div class="sm:flex-1">
          <label for="email" class="sr-only">Email</label>
          <input type="email" id="email" placeholder="Ingresa tu dirección de correo como pepe@gmail.com"
            [(ngModel)]="email" name="email"
            class="w-full rounded-md border-gray-200 bg-white p-3 text-gray-700 shadow-sm transition focus:border-white focus:outline-none focus:ring focus:ring-yellow-400"
            required />
        </div>
        <button type="submit" [disabled]="!email"
          class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-violet-600 px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:mt-0 sm:w-auto">
          <span class="text-sm font-medium"> Sign Up </span>
          <svg class="size-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>

<app-popup *ngIf="showModal" [email]="email" (close)="closeModal()"></app-popup>
